# ===========================
# Base de Datos (PostgreSQL)
# ===========================
DB_HOST=localhost
DB_PORT=5432
DB_NAME=cartex_db
DB_USER=postgres
DB_PASSWORD=postgres

# ===========================
# API Externa - SAdmin
# ===========================
EXTERNAL_API_AUTH_URL=https://security.sadmin.net/security/login
EXTERNAL_API_REPORTS_BASE_URL=https://reports.sadmin.net/api

# Credenciales por empresa (SAdmin)
SADMIN_UNOMASUNO_USERNAME=apiunomasuno@datacs.ca
SADMIN_UNOMASUNO_PASSWORD=Jpi*Qh8bif/bI703j3+0Vbxqiq1ygC

# ===========================
# Server
# ===========================
SERVER_PORT=8080

# ===========================
# Spring / JPA
# ===========================
SPRING_JPA_HIBERNATE_DDL_AUTO=update
SPRING_JPA_SHOW_SQL=false
